:host {
  display: flex;
  flex: 1 1 auto;
}

.command-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px;
  margin-bottom: 3rem;
}

.command-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
}

.command-header {
  width: 100%;
}

.commands {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
