<div class="command-container">
  <div class="header">
    <h1>Command List</h1>
    <p>(Work in progress!)</p>
  </div>
  <div class="command-list">
    <div class="commands">
      <app-accordion
        *ngFor="let command of reactCommands"
        [slashCommand]="command"
      ></app-accordion>
    </div>
    <div class="commands">
      <app-accordion
        *ngFor="let command of categoryCommands"
        [slashCommand]="command"
      ></app-accordion>
    </div>
    <div class="commands">
      <app-accordion
        *ngFor="let command of generalCommands"
        [slashCommand]="command"
      ></app-accordion>
    </div>
  </div>
</div>
