:host {
  display: flex;
  flex: 1;
  margin: auto;
}

.header {
  text-align: center;
  h1 {
    margin: 0;
  }
}

.card > .header {
  text-align: left;
}

.about-container {
  margin: 40px;

  @media (max-width: 650px) {
    flex-direction: column;
    margin: 40px 0;
  }
}
