<div class="about-container">
  <div class="header">
    <h1>RoleBot info</h1>
  </div>
  <section class="text-group-container">
    <div class="text-group">
      <h2>About RoleBot</h2>
      <div>
        <p>
          RoleBot is a reaction role Discord bot designed to make it easy to
          categorize your react roles and allow your members to select the roles
          they want.
        </p>
        <p>
          RoleBot was started in September 2018 as a goofy project for a single
          server but eventually enough members asked if they could use RoleBot
          that it inspired me to make it public.
        </p>
        <p>
          If you use RoleBot and want to support the development you can
          <a href="https://ko-fi.com/panku" target="_blank">buy me a coffee!</a>
        </p>
      </div>
    </div>
    <div class="text-group">
      <h2>Credits</h2>
      <div>
        <p>
          Logos and wallpapers designed by my friend
          <strong>"Q"</strong>.
        </p>
        <p><strong>Panku#0001</strong> for development.</p>
        <h3>
          And obviously a big thanks to everyone that supports RoleBot by using
          it!
        </h3>
      </div>
    </div>
  </section>
</div>