<div class="sidenav-wrapper">
  <div class="header">
    <img src="assets/logos/rolebot-logo-white.svg" />
    <div class="close"></div>
  </div>
  <div class="body">
    <a routerLink="about"> About </a>
    <a routerLink="commands"> Commands </a>
    <a routerLink="faqs"> FAQ </a>
    <a href="https://discord.gg/9BYN266sC4" target="_blank"> Server </a>
    <a
      class="invite-btn"
      href="https://discord.com/oauth2/authorize?client_id=741682757486510081&scope=bot%20applications.commands&permissions=2416035904&response_type=code&redirect_uri=https://rolebot.gg/"
      target="_blank"
    >
      Invite
    </a>
  </div>
</div>
