<div class="container">
  <div class="header">
    <h1>Terms of Service.</h1>
  </div>
  <section class="text-group-container">
    <p>
      By using RoleBot's website and Discord bot and interacting with our
      service, you agree to our privacy policy. RoleBot does not and will never
      share your data with any third parties.
    </p>
    <div>
      <h2>By using RoleBot, you agree to the following terms of service:</h2>
      <ul class="off-white">
        <li>
          RoleBot is provided as-is, without any warranties or guarantees. You
          use RoleBot at your own risk.
        </li>
        <li>
          RoleBot reserves the right to modify, suspend, or discontinue the
          service at any time, without notice.
        </li>
        <li>
          RoleBot may collect and store certain information about your use of
          the service, including but not limited to guild ID's, role ID's, role
          names, emoji's and emoji ID's, message ID's, and channel ID's. This
          information is collected and stored solely for the purpose of
          providing the RoleBot service.
        </li>
        <li>
          You are responsible for ensuring that your use of RoleBot complies
          with all applicable laws and regulations.
        </li>
        <li>
          If you violate these terms of service, RoleBot reserves the right to
          terminate your access to the service.
        </li>
        <li>
          These terms of service may be updated from time to time, at the
          discretion of RoleBot. It is your responsibility to review and comply
          with the latest version of these terms.
        </li>
      </ul>
      <p>
        By using RoleBot, you acknowledge that you have read and understood
        these terms of service, and agree to be bound by them. If you do not
        agree to these terms, you must not use RoleBot.
      </p>
    </div>
  </section>
</div>
