.manage-container {
  max-width: 48px;
  background: none;
  border: none;
}

.drop-down {
  transition: all 0.2s;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--primary-color);
  padding: 10px;
  margin-left: -80px;
  text-align: left;

  @media (max-width: 600px) {
    position: unset;
    margin: 0;
    background-color: unset;
  }
}

.show {
  display: flex;
}

.logout {

}

.user-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
