:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  padding: 3rem 10rem;

  @media (max-width: 600px) {
    padding: 3rem 1rem;
  }
}

.rolebot-stats {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;

    border-radius: 10px;
    background-color: var(--off-white);
    color: var(--third-color);
    font-weight: 500;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.banner-text {
  padding: 2rem 0;
  margin: 6rem 0;

  @media (max-width: 600px) {
    margin: 2rem 0;
  }

  p {
    color: var(--grey-text-fade);
  }

  h1 {
    margin-bottom: 5px !important;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-text {
  p {
    margin: 0;
    color: var(--off-white);
  }
}


.bot-info-container {
  animation: popIn 0.7s;
  width: clamp(350px, 40vw, 1200px);
  display: flex;
  align-self: center;
}

.description-grid {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  @media (max-width: 600px) {
    gap: 5rem;
  }

  padding: 4rem 0;

  .row-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;

    img {
      border-radius: 5px;
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: column;

      * {
        margin: 0;
      }

      p {
        font-size: 22px;
      }

      h1 {
        color: var(--rolebot-red);
        font-weight: 700;
      }
    }

    & .flip {
      order: -1;
    }

    @media (max-width: 600px) {
      .flip {
        order: unset;
      }

      grid-template-columns: 1fr;
    }
  }
}

.invite-today {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8rem;
  align-items: center;
  background-image: url("../../../assets/banners/banner-logoless.svg");
  background-size: cover;
  border-radius: 25px;

  @media (max-width: 600px) {
    padding: 3rem
  }
}

.invite-button {
  border-radius: 10px;
  background-color: var(--rolebot-red);
  color: white;
  font-weight: 700;
  padding: 12px 26px;
}
