<div class="home-container">
  <div class="bot-info-container">
    <img class="bot-avatar" src="./assets/logo.jpg" />
    <span>RoleBot</span>
  </div>
  <div class="banner-text">
    <h2>Let RoleBot do the hard work for you.</h2>
    <p>Create react roles that RoleBot will manage for you.</p>
  </div>
  <div class="description-container">
    <div class="description grid">
      <div class="text-group">
        <h2>Categories</h2>
        <p>
          Keep your react roles organized by creating a category! Categories
          help keep track of where react roles are and how you want users to
          obtain roles from them. Want only one role to be obtained from a
          category? Make them mutually-exclusive!
        </p>
      </div>
      <img src="./assets/examples/category.png" />
    </div>
    <div class="description grid">
      <div class="text-group">
        <h2>React Roles</h2>
        <p>
          It's easy to create react roles. Make fancy react roles with your
          servers custom emojis, or use the default Discord ones!
        </p>
      </div>
      <img class="col-left" src="./assets/examples/react-role.png" />
    </div>
    <div class="description grid">
      <div class="text-group">
        <h2>Reactions</h2>
        <p>
          It's always recommended to use RoleBot's default embeds when using
          react roles. It puts all your categories and their react roles in a
          single place! Use <span class="slash-command">/react-channel</span> to
          send the embeds to any channel you desire.
        </p>
      </div>
      <img class="w-30" src="./assets/examples/embeds.png" />
    </div>
    <div class="description grid">
      <div class="text-group">
        <h2>Custom messages</h2>
        <p>
          Use <span class="slash-command">/react-message</span>
          when you want RoleBot to react to with a specific category to a custom
          message!
        </p>
      </div>
      <img class="col-left" src="./assets/examples/message.png" />
    </div>
  </div>
</div>
