<img
  class="bot-info-container"
  src="./assets/logos/rolebot-logo-with-name-white.svg"
  alt="rolebot logo banner"
/>

<div class="rolebot-stats">
  @for (stat of stats; track stat.title) {
    <div>
      <span>{{ stat.title }}</span>
      <div>
        <mat-icon>{{ stat.icon }}</mat-icon>
        {{ stat.message }}
      </div>
    </div>
  }
</div>

<div class="banner-text">
  <h1>
    Let Role<span class="rolebot-red">Bot</span> do the hard work for you.
  </h1>
  <p>
    Create react roles that Role<span class="rolebot-red">Bot</span> will
    manage for you.
  </p>
</div>

<div class="description-grid">
  @for (example of examples; track example.title; let even = $even) {
    <div class="row-grid">
      <div>
        <h1>{{ example.title }}</h1>
        <p>{{ example.description }}</p>
      </div>
      <img [src]="'./assets/examples/' + example.image" [ngClass]="{ 'flip': !even }">
    </div>
  }
</div>

<div class="invite-today">
  <h2>Have hassle-free react roles today</h2>
  <a class="invite-button" [href]="INVITE_URL">Add RoleBot to your server</a>
</div>
