.home-container {
  display: flex;
  flex-direction: column;
}

.banner {
  animation: popIn 0.7s;
  width: clamp(300px, 40vw, 1200px);
  margin: 5vh auto;
}

.bot-info-container {
  animation: popIn 0.7s;

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.banner-text {
  padding: 40px 0;
  margin: 60px 0;

  p {
    color: var(--grey-text-fade);
  }

  h1 {
    margin-bottom: 5px !important;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 300px) and (max-width: 1200px) {
    padding: 20px;
    margin: 20px 0;
  }
}

.description-container {
  line-height: 1.5rem;
  z-index: 5;
  padding: 40px 0;
  width: 100%;
  display: flex;
  gap: 120px;
  flex-direction: column;
  @media (min-width: 300px) and (max-width: 1200px) {
    gap: 40px;
  }
}

.description {
  margin: 0 20vw;
  gap: 20px;
  img {
    margin-top: 1rem;
    border-radius: 15px;
    width: 100%;
  }
  @media (min-width: 300px) and (max-width: 1200px) {
    margin: 20px;
  }
}

.grid {
  display: grid;
  justify-content: center;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  order: 0;

  @media (min-width: 300px) and (max-width: 1000px) {
    gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: none;

  }

  @media (max-width: 650px) {
    gap: 10px;
    grid-column-gap: 25px;
  }
}

.category-card {
  margin-top: 1rem;
}

.col-left {
  order: -1;
  @media (min-width: 300px) and (max-width: 1000px) {
    order: 0;
  }
}

.text-group {
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--discord-red);
    font-weight: 700;
  }

  @media (max-width: 650px) {
    p {
      font-size: 1rem !important;
    }
  }

  &::before {
    content: '';
  }
}

.banner-text, .text-group {
  h1 {
    margin: 20px 0;
  }
  p {
    font-size: 1.15rem;
    margin: 0;
    padding: 0;
    color: var(--off-white);
  }
}

:host {
  display: flex;
  flex: 1;
}
