<div class="privacy-container">
  <div class="header">
    <h1>Privacy Policy</h1>
  </div>
  <section class="text-group-container">
    <p>
      By using RoleBot's website and Discord bot and interacting with our
      service, you agree to our privacy policy. RoleBot does not and will never
      share your data with any third parties.
    </p>
    <div>
      <h2>Data Collection and Use</h2>
      <p class="off-white">
        RoleBot is a Discord bot that allows users to give and take roles based
        on the emoji they react to on messages. In order to provide this
        service, RoleBot collects and stores certain information, including
        <strong>
          guild ID's, role ID's, role names, emoji's and emoji ID's, message
          ID's, and channel ID's.
        </strong>
        This information is collected and stored solely for the purpose of
        providing the RoleBot service. It is not shared with any third parties,
        and users can only access their own guild data.
      </p>
    </div>
    <div>
      <h2>Data Removal</h2>
      <p class="off-white">
        You have the right to request the removal of your data. You can request
        your data to be deleted by joining the
        <a href="https://discord.com/invite/9BYN266sC4" target="_blank">
          Discord server
        </a>
        and requesting there or by emailing <strong>dylan@panku.io</strong> with
        a subject line of <strong>RoleBot data removal</strong> and including
        your server's id.
      </p>
    </div>
  </section>
</div>
