:host {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 0;
}

.react-role {
  display: flex;
  gap: 5px;
}

.role {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  font-size: 0.8rem;

  & > .text {
    font-weight: 600;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    padding: 0 5px;
  }

  & > .bg-color {
    border-radius: 3px;
    grid-column: 1;
    grid-row: 1;
    opacity: 0.2;
  }
}
