:host {
  display: flex;
  justify-content: center;
}

.command-container {
  display: flex;
  padding: 0 5rem;

  @media (max-width: 950px) {
    flex-direction: column;
    padding: 10px;
  }
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  position: sticky;
  top: 8rem;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--rolebot-green);
  border: 2px solid var(--third-light);

  h1 {
    font-size: 26px;
    align-self: center;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  a {
    padding: 10px;
    border-radius: 5px;
    color: var(--white);

    &.active:hover, &:hover {
      background-color: var(--secondary-color);
    }

    &.active {
      outline: 2px solid var(--third-light);
      background-color: var(--third-color);
    }
  }

  @media (max-width: 600px) {
    position: unset;
  }
}

.top {
  text-align: center;
  width: 100%;
}

.up-arrow {
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.command-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;

  @media (max-width: 950px) {
    margin-top: 2rem;
    padding: 10px 0;
    gap: 3rem;
  }
}

.command-header {
  width: fit-content;
  scroll-margin-top: 8rem;
  margin: 0;
  font-size: 2rem;
  color: var(--white);
  border-bottom: 2px solid var(--secondary-light);

  @media (max-width: 600px) {
    scroll-margin-top: 5rem;
  }
}

.commands {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
