.guild-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
  }
}

.guild-name {
  text-align: center ;
  padding: 15px;
}
