<div *ngIf="slashCommand" class="accordion-item">
  <div class="command-title" (click)="toggleContent()">
    <div class="command-header">
      <h2>{{ slashCommand.title }}</h2>
      <span>{{ slashCommand.description }}</span>
    </div>
    <span
      [className]="active ? 'command-title opened' : 'command-title closed'"
    ></span>
  </div>
  <div
    [className]="active ? 'command-description active' : 'command-description'"
  >
    <hr />
    <strong>Usage: </strong>
    <p>{{ slashCommand.usage }}</p>
    <strong>Description: </strong>
    <p>{{ slashCommand.detailedDescription }}</p>
  </div>
</div>
