:host {
  width: 100%;
}

h2, p {
  margin: 5px 0;
}

.accordion-item {
  user-select: none;
  display: flex;
  margin: auto;
  flex-direction: column;
  min-width: 450px;
  max-width: 450px;
  background-color: var(--white);
  transition: all 0.3 ease-in-out;
  border-radius: 10px;
  padding: 15px 20px;

  @media (max-width: 650px) {
    min-width: unset;
    max-width: unset;
  }

  @media (max-width: 400px) {
    min-width: unset;
    max-width: unset;
  }
}

.command-title {
  display: flex;
  flex: 1;
  width: 100%;
  color: var(--primary-color);
  &:hover {
    cursor: pointer;
  }
}

.command-title.closed::after {
  font-size: 2rem;
  margin-left: auto;
  align-self: center;
  content: "+";
  color: var(--third-color);
}

.command-title.opened::after {
  font-size: 2rem;
  margin-left: auto;
  align-self: center;
  content: "-";
  color: var(--third-color);
}

.command-description {
  color: black;
  width: 100%;
}

.command-description:not(.active) {
  display: none;
}

