<div *ngIf="slashCommand" class="accordion-item" (click)="toggleOpenClosed()">
  <div class="command-title">
    <div [ngClass]="{ 'command-header': true, closed: active }">
      <h2>{{ slashCommand.title }}</h2>
      <span>{{ slashCommand.description }}</span>
    </div>
  </div>
  <div [@openClose]="openClosedState" class="command-description">
    <p>
      <i>{{ slashCommand.detailedDescription }}</i>
    </p>
    <div class="usage">
      <strong>Usage: </strong>
      <code>{{ slashCommand.usage }}</code>
    </div>
  </div>
</div>
