:host {
  z-index: 10;
  transition: all 0.2s ease;
  margin: 0 auto;
  width: clamp(350px, 95vw, 1200px);

  top: 0;
  position: sticky;

  a {
    color: var(--white);
    font-size: clamp(18px, 1.1vw, 22px);
  }

  .collapsed {
    transition: all 0.2s ease;
    @media (max-width: 830px) {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0;
    }
  }

  .collapsable {
    transition: all 0.2s ease;
    @media (max-width: 830px) {
      display: flex;
      max-height: 500px;
    }
  }
}

.navbar-container {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 35px;
  margin: 10px 0;

  transition: 0.4s all;
}

.invite-btn {
  background-color: var(--discord-red) !important;
  color: black !important;
  &:hover {
    background-color: rgba(var(--rolebot-red), 0.5);
  }
}

.scrolled {
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.4s all;
  margin: 10px 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.ml-auto {
  margin-left: auto;
}

.plr-5 {
  padding: 0 5px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    padding: 4px 12px;
    border-radius: 5px;
    &:hover {
      background-color: var(--grey-fade);
    }
  }

  @media (max-width: 830px) {
    font-size: 0.8rem;
    flex-direction: column;
    margin-left: 0;
    padding-top: 20px;
    gap: 20px;
    flex-basis: 100%;
  }
}

/* Codepen hamburger CSS */
/* Icon 1 */
#nav-icon {
  margin-top: -8px;
  width: 25px;
  height: 15px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @media (min-width: 830px) {
    display: none;
    cursor: none;
  }
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}
