<nav>
  <div class="navbar-container">
    <div>
      <a routerLink=""> RoleBot </a>
    </div>
    <div [className]="active ? 'ml-auto links active' : 'ml-auto links'">
      <a class="plr-5" routerLink="about"> About </a>
      <a class="plr-5" routerLink="commands"> Commands </a>
      <a class="plr-5" routerLink="faqs"> FAQ </a>
      <a class="plr-5" href="https://discord.gg/9BYN266sC4" target="_blank">
        Server
      </a>
      <a
        class="plr-5"
        href="https://discord.com/oauth2/authorize?client_id=493668628361904139&scope=bot%20applications.commands&permissions=269315264"
        target="_blank"
      >
        Invite
      </a>
    </div>
  </div>
</nav>
