<div class="guild-card">
  <div>
    <p>{{ guild?.name }}</p>
    <p>{{ categories?.length ?? 0 }} categories</p>
  </div>
  <img [src]="guildIcon" />
</div>
<div class="details-body">
  <app-details-form [categories]="categories"></app-details-form>
  <div class="category-cards">
    <p>
      Here's how your categories will look like when you use the
      <span class="slash-command">/react-channel</span> command.
    </p>
    <app-category-card *ngFor="let category of categories" [title]="category.name" [description]="category.description"
      [reactRoles]="category.reactRoles">
    </app-category-card>
  </div>
</div>
