:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: var(--banner-default);
  background-size: cover;
  background-position: right;
}

.guild-card {
  display: flex;
  align-items: center;
  margin: 40px auto;
  text-align: right;


  img {
    background-color: var(--primary-color);
    margin-left: 15px;
    border-radius: 50%;
    border: 3px solid var(--white);
  }
}

.details-body {
  display: flex;
  gap: 30px;
  margin: 20px auto;

  @media (max-width: 1300px) {
    flex-direction: column;
  }
}

.category-cards {
  background-color: var(--discord-theme);
  gap: 30px;
  padding: 40px;
  border-radius: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
