:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.new-bot {
  z-index: 10;
  margin: 10px auto;
  padding: 10px;
  font-weight: 600;
  top: 99px;
  position: sticky;
  width: min-content;
  white-space: nowrap;

  a {
    text-decoration: underline;
  }

  border: 2px solid red;
  border-radius: 10px;

  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  background-color: rgba(var(--rolebot-green), 1);
  color: #fff;

  @media(max-width: 800px) {
    flex-wrap: wrap;
    & > div {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
