<footer>
  <div class="footer">
    <img class="logo" src="./assets/logos/rolebot-logo-with-name-white.svg" />
    <div class="links">
      <div class="footer-section">
        <h3>NAVIGATION</h3>
        <a routerLink="">Home</a>
        <a routerLink="about">About</a>
        <a routerLink="commands">Commands</a>
        <a routerLink="faqs">FAQ</a>
        <a routerLink="stats">Stats</a>
      </div>
      <div class="footer-section">
        <h3>SUPPORT</h3>
        <a href="https://discord.gg/9BYN266sC4" target="_blank">Server</a>
        <a href="https://ko-fi.com/panku" target="_blank">Ko-fi</a>
      </div>
      <div class="footer-section">
        <h3>TERMS</h3>
        <a routerLink="privacy-policy">Privacy Policy</a>
        <a routerLink="terms-of-service">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
