<footer>
  <img
    class="logo"
    src="./assets/logos/rolebot-logo-with-name-white.svg"
    alt="rolebot logo"
  />
  <div class="links">
    <div class="footer-section">
      <h3>Navigation</h3>
      <a routerLink="">Home</a>
      <a routerLink="about">About</a>
      <a routerLink="commands">Commands</a>
      <a routerLink="faqs">FAQ</a>
    </div>
    <div class="footer-section">
      <h3>Support</h3>
      <a href="https://discord.gg/9BYN266sC4" target="_blank">Server</a>
      <a href="https://ko-fi.com/panku" target="_blank">Ko-fi</a>
    </div>
    <div class="footer-section">
      <h3>Terms</h3>
      <a routerLink="privacy-policy">Privacy Policy</a>
      <a routerLink="terms">Terms of Service</a>
    </div>
  </div>
</footer>
