<div class="faq-container">
  <div class="faq-header">
    <h1>Frequently asked questions.</h1>
    <p>
      Sometimes RoleBot will not respond. There could be numerous reasons as to
      why. Hopefully you can find out why with these FAQs!
    </p>
  </div>
  <section>
    <div class="faq">
      <h2 class="question">How do I invite RoleBot?</h2>
      <p class="answer">
        You can invite RoleBot <a href="" target="_blank">here</a>.
      </p>
    </div>
    <div class="faq">
      <h2 class="question">
        I ran <span class="slash-command">/react-channel</span> but RoleBot
        didn't send any embeds.
      </h2>
      <p class="answer">
        This is usually due to RoleBot not having the correct permissions for
        the channel you want the embeds in.
      </p>
    </div>
    <div class="faq">
      <h2 class="question">Generic issue number 1 here</h2>
      <p class="answer">Super generic answer for said question above.</p>
    </div>
    <div class="faq">
      <h2 class="question">
        Another generic question that's related to the above!!
      </h2>
      <p class="answer">Wow this is pretty simple actually do x y AND ZZZZZ</p>
    </div>
  </section>
</div>
