<div class="faq-container">
  <div class="faq-header">
    <h1>Frequently asked questions.</h1>
    <p>
      Sometimes RoleBot will not respond. There could be numerous reasons as to
      why. Hopefully you can find out why with these FAQs!
    </p>
  </div>
  <section>
    <div class="faq">
      <h2 class="question">How do I invite RoleBot?</h2>
      <p class="answer">
        You can invite RoleBot
        <a
          href="https://discord.com/oauth2/authorize?client_id=493668628361904139&scope=bot%20applications.commands&permissions=269315264"
          target="_blank"
          >here</a
        >.
      </p>
    </div>
    <div class="faq">
      <h2 class="question">
        I ran <span class="slash-command">/react-channel</span> but RoleBot
        didn't send any embeds.
      </h2>
      <p class="answer">
        This is usually due to RoleBot not having the correct permissions for
        the channel you want the embeds in.
      </p>
    </div>
    <div class="faq">
      <h2 class="question">I ran /help and nothing happened.</h2>
      <p class="answer">
        RoleBot uses Discords slashcommands. This means that RoleBot needs to be
        invited with the ability to "create slash commands". The correct invite
        link is in this FAQ, top rihgt, or in the footer. Invite RoleBot from
        any of those!
      </p>
    </div>
    <div class="faq">
      <h2 class="question">
        I set up RoleBot but it's not giving users roles.
      </h2>
      <p class="answer">
        Due to how Discord manage roles works, RoleBot's role or any role you
        give Rolebot needs to be at minimum be above all roles you want RoleBot
        to give out.
      </p>
    </div>
  </section>
</div>
