<div class="category-card-container">
  <div class="rolebot">
    RoleBot
    <div class="bot-tag"><span class="checkmark">&#10003;</span> BOT</div>
  </div>
  <div class="category-card">
    <div class="category-title">{{ title }}</div>
    <div class="category-description">{{ description }}</div>
    <div class="react-roles">
      <app-category-react-role
        [reactRoles]="reactRoles"
      ></app-category-react-role>
    </div>
  </div>
  <div class="reactions">
    <app-category-reaction
      *ngFor="let reactRole of reactRoles"
      [reactRole]="reactRole"
    ></app-category-reaction>
  </div>
</div>
