<div class="privacy-container">
  <div class="header">
    <h1>Privacy Policy</h1>
  </div>
  <section>
    <p>
      By using RoleBot's website and Discord bot and interacting with our
      service, you agree to our privacy policy. RoleBot does not and will never
      share your data with any third parties.
    </p>
    <div class="privacy-point">
      <h2>Data Collection and Use</h2>
      <p>
        RoleBot collects some amount of data about the server for the bot's
        normal operation. Such data that is collected includes
        <strong>
          server ids, role names and ids, custom server emoji names and ids,
          channel ids, message ids, and custom category names and descriptions.
        </strong>
      </p>
    </div>
    <div class="privacy-point">
      <h2>Data Removal</h2>
      <p>
        You have the right to request the removal of your data. You can request
        your data to be deleted by joining the
        <a href="https://discord.com/invite/9BYN266sC4" target="_blank"
          >Discord server</a
        >
        and requesting there or by emailing <strong>dylan@panku.io</strong> with
        a subject line of <strong>RoleBot data removal</strong> and including
        your server's id.
      </p>
    </div>
  </section>
</div>
