/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #1f4141;
  --secondary-color: #0a191e;
  --accent-color: #123133;
  --third-color: #fb0735;
  --grey: #778899;
  --white: #F0EDE4;
  --bot-avatar: url("./assets/logo.jpg");
  --banner-default: url("./assets/banners/banner-logoless.svg");
  --banner-white: url("./assets/banners/banner.png");
  font-size: 125%;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--white);

  font-weight: 400;
  font-family: Arial, sans-serif;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: var(--third-color);
  transition: all ease 0.2s;
  &:hover {
    color: var(--white);
  }
}

.logo {
  height: 128px;
}

.bot-avatar {
  border-radius: 50%;
  border: 3px solid var(--white);
  height: 128px;
  width: 128px;
}

.slash-command {
  background-color: var(--accent-color);
  color: white;
  padding:2px 8px;
  border-radius: 5px;
}

.card {
  width: 350px;
  height: 400px;

  color: var(--accent-color);
  font-weight: 700;
  background-color: var(--white);
  border-radius: 6px;

  margin: 10px;
  padding: 10px 20px;
}

.card > .header {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid black;
}

.slideInLeft {
  animation: slideLeft 0.7s;
}
.slideInRight {
  animation: slideRight 0.7s;
}
.slideInDown {
  animation: slideDown 0.7s;
}
.slideInUp {
  animation: slideUp 0.7s;
}

@keyframes popIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateY(20px);}
  to {transform: translateY(0px);}
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes slideUp {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateY(20px);}
  to {transform: translateY(0px);}
}
@keyframes slideLeft {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateX(20px);}
  to {transform: translateX(0px);}
}
@keyframes slideRight {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateX(0px);}
  to {transform: translateX(20px);}
}
@keyframes slideDown {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateY(0px);}
  to {transform: translateY(20px);}
}

