@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/* You can add global styles to this file, and also import other style files */
:root {
  --rolebot-green-fade: #0a273330;
  --secondary-color: #073b4c;

  --secondary-dark: #00161d;
  --secondary-light: #2d6577;
  --third-color: #003040;
  --third-light: #00475e;

  --rolebot-red: #fd2946;
  --rolebot-green: 0, 24, 32;

  --blurple: #5865f2;

  --grey: #808080;
  --grey-fade: #8080802a;

  --grey-text-fade: #969292e3;

  --white: #f0ede4;
  --off-white: #d3d3d3;

  --bot-avatar: url("./assets/logo.jpg");
  --banner-default: url("./assets/banners/banner-logoless.svg");
  --banner-white: url("./assets/banners/banner.png");
  --logoless-banner-dark: url("./assets/banners/dark-banner-logoless.svg");

  font-family: "Roboto", sans-serif;
}

.rolebot-red {
  color: var(--rolebot-red);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: rgba(var(--rolebot-green), 1);

  color: var(--white);
}

code {
  width: fit-content;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: var(--off-white);
  transition: all ease 0.2s;
  &:hover {
    color: var(--white);
  }
}

.logo {
  height: 100px;
}

.bot-avatar {
  border-radius: 50%;
  border: 3px solid var(--white);
  height: 128px;
  width: 128px;
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

.discord-action-row {
  flex-wrap: wrap;
}
