@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
  --rolebot-green-fade: #0a273330;
  --secondary-color: #073b4c;

  --rolebot-red: #FD2946;
  --rolebot-green: #0a2733;

  // For custom embeds
  --discord-theme: #36393f;
  --discord-embed-theme: #2f3136;
  --blurple: #5865f2;

  --grey: #808080;
  --grey-fade: #8080802a;

  --grey-text-fade: #969292e3;

  --white: #F0EDE4;
  --off-white: #D3D3D3;

  --bot-avatar: url("./assets/logo.jpg");
  --banner-default: url("./assets/banners/banner-logoless.svg");
  --banner-white: url("./assets/banners/banner.png");
  --logoless-banner-dark: url("./assets/banners/dark-banner-logoless.svg");

  font-size: 125%;
  font-family: 'Roboto', sans-serif;
}

.rolebot-red {
  color: var(--rolebot-red);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: clamp(35px, 5vw, 40px);
}

p {
  font-size: clamp(16px, 3vw, 22px) !important;
}



html {
  scroll-behavior: smooth;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: rgba(#073b4c, 0.7);

  color: var(--white);
  font-weight: 400;
}

code {
  margin-top: 0.5rem;
  width: fit-content;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

a {
  font-weight: 400;
  text-decoration: none;
  color: var(--third-color);
  transition: all ease 0.2s;
  &:hover {
    color: var(--white);
  }
}

.logo {
  height: 100px;
}

.bot-avatar {
  border-radius: 50%;
  border: 3px solid var(--white);
  height: 128px;
  width: 128px;
}

.text-group-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  max-width: 800px;
  margin: auto;

  @media (min-width: 300px) and (max-width: 1200px) {
    gap: 30px;
  }
}

.text-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;

  p {
    margin: 0;
    color: var(--off-white);
  }

  &::before {
    content: ">";
    display: inline-block;
    margin-left: -1rem;
    margin-bottom: -2.75rem;
  }

  @media (min-width: 300px) and (max-width: 1200px) {
    &::before {
      content: "";
    }
  }
}

.grey {
  color: var(--grey);
  p {
    margin: 10px 0;
  }
}

.slideInLeft {
  animation: slideLeft 0.7s;
}
.slideInRight {
  animation: slideRight 0.7s;
}
.slideInDown {
  animation: slideDown 0.7s;
}
.slideInUp {
  animation: slideUp 0.7s;
}

.flex {
  display: flex;
}

@keyframes popIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateY(20px);}
  to {transform: translateY(0px);}
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes slideUp {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateY(20px);}
  to {transform: translateY(0px);}
}
@keyframes slideLeft {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateX(20px);}
  to {transform: translateX(0px);}
}
@keyframes slideRight {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateX(0px);}
  to {transform: translateX(20px);}
}
@keyframes slideDown {
  0% {opacity: 0;}
  100% {opacity: 1;}
  from {transform: translateY(0px);}
  to {transform: translateY(20px);}
}

