:host {
  border-radius: 8px;
  padding: 20px 20px;
  background-color: var(--discord-theme);

  hr {
    width: 100%;
  }

  h3 {
    margin: 0;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
}

.details-header {

}

.category-name {
  transition: all 0.2s;
  outline: 2px solid var(--grey);
  border-radius: 3px;

  &:hover {
    outline: 2px solid var(--white);
  }
}
