:host {
  display: flex;
  background-size: cover;
  background-image: var(--banner-default);
  flex: 1 1 auto;
}

.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;

  width: 100%;
}

section {
  margin: auto;
  max-width: 800px;
}

.list {
}
