<div class="faq-container">
  <div>
    <h1>Frequently asked questions.</h1>
  </div>
  <section class="text-group-container">
    <div class="text-group">
      <h2>How do I invite RoleBot?</h2>
      <p>
        You can invite RoleBot
        <a
          href="https://discord.com/oauth2/authorize?client_id=493668628361904139&scope=bot%20applications.commands&permissions=269315264"
          target="_blank"
          >here</a
        >.
      </p>
    </div>
    <div class="text-group">
      <h2>Can I selfhost RoleBot?</h2>
      <p>
        Yes you can selfhost RoleBot if you're a little tech savy. Visit the
        <a href="https://github.com/Uhuh/RoleBot">GitHub here.</a>
      </p>
    </div>
    <div class="text-group">
      <h2>
        I ran <span class="slash-command">/react-channel</span> but RoleBot
        didn't send any embeds.
      </h2>
      <p>
        This is usually due to RoleBot not having the correct permissions for
        the channel you want the embeds in.
      </p>
    </div>
    <div class="text-group">
      <h2>I ran /help and nothing happened.</h2>
      <p>
        RoleBot uses Discords slashcommands. This means that RoleBot needs to be
        invited with the ability to "create slash commands". The correct invite
        link is in this FAQ, top right, or in the footer. Invite RoleBot from
        any of those!
      </p>
    </div>
    <div class="text-group">
      <h2>I set up RoleBot but it's not giving users roles.</h2>
      <p>
        Due to how Discord manage roles works, RoleBot's role or any role you
        give Rolebot needs to be at minimum be above all roles you want RoleBot
        to give out.
      </p>
    </div>
  </section>
</div>
